<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!-- body style sheets links -->
    <%- style %>
</head>
<body>
    <%- include('_header'); %>
    <!-- body will render ejs files  -->
    <%- body %>
    <%- include('_footer'); %>
    <%- script %>
</body>